@model IEnumerable<GlobalTeamNetwork.Models.PersonOname>

@{
    ViewData["Title"] = "New Translation Workflow";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Translation Workflow</title>
</head>
<body style="height:100%">
    <h1>Translation Workflow</h1>

    <table width="25%" border="1">
        <tr>
            <td align="center">
                Create New Work
            </td>
            <td align="center">
                Manage Existing Work
            </td>
        </tr>
    </table>
    <br>
    <div id="divMain" style="height:100vh;overflow-y:auto">
        <table>
            <tr>
                <td width="30%">
                    <div style="border: 2px solid blue;background-color:lightgrey">
                        <br>&nbsp;&nbsp;<input type="radio" id="full" name="fullSem" value="full" checked>&nbsp;<label id="lblFull" onclick="radioClick(this);"><b>Translate Entire Semester</label></br>&nbsp;&nbsp;<br>
                        &nbsp;&nbsp;<input type="radio" id="partial" name="fullSem" value="partial">&nbsp;<label id="lblPartial" onclick="radioClick(this);"><b>Translate Selected Courses</label></b>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                    </div>
                </td>
                <td width="5%">
                </td>
                <td>
                    Select a Semester to Translate&nbsp;<select id="semDDL" name="semDDL"></select><br>
                    <br>
                    Select a Language <select id="langDDL" name="langDDL"></select><br>
                </td>
            </tr>
        </table>
        <br><br>
        <table id="tblMain" class="table table-bordered table-hover table-striped" style="display: none">
            <thead>
                <!-- Top Labels-->
                <tr>
                    <th class="columnSort" style="width:85%" valign="middle">
                    </th>
                    <th class="columnSort" style="text-align: center; align-items:center">
                    </th>
                </tr>
            </thead>
            <tbody class="dataRows">
            </tbody>
        </table>
        <div id="semExamOpts">
            <input type=checkbox checked id="semExams">&nbsp;Generate Semester Exams<br>
            <span id="semExamsOnly"><input type=checkbox id="cbSemExamsOnly">&nbsp;Generate Semester Exams ONLY</span>
        </div>
        <br><input type="button" id="GenTranSteps" value="Generate Translation Steps" /><br>
    </div>

    <div id="gendSteps" style="display: none">
        <table id="tblGend">
        </table>
    </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <script type="text/javascript">

    //NOTE: common js functions are found in wwwroot/js/ViewCommon.js
    //scope functions declared inside of document.ready
        var editItem;
        var deleteItem;
        var radioClick;
        var checkAll;

        $(document).ready(function () {

            checkAll = function () {
            }

            radioClick = function (label) {
                //alert(label.id);
                //alert(label.id.toLowerCase().indexOf('full'));
                if (label.id.toLowerCase().indexOf('full') > -1) {
                    $('input[name=fullSem]:eq(0)').click();
                }
                else {
                    $('input[name=fullSem]:eq(1)').click();
                }
            }

            $('input[type=radio][name=fullSem]').change(function () {
                //trigger row changes based on semester selected
                $("#semDDL").change();
            });

            $("#semExams").change(function () {
                if (!$(this).is(":checked")) {
                    $("#semExamsOnly").hide();
                }
                else {
                    $("#semExamsOnly").show();
                }
            });



            //pFilter is passed to the page via query string for page refresh, etc.
            var pFilter = (new URL(location.href)).searchParams.get('filter');

            //Set up the drop down value arrays
            var inputValid = false;
            var delayMils = 900;
            var pageObjectLabel = 'Translation Workflow';

            //Set up Semester drop down
            $.ajax({
                type: "GET",
                //url: '@Url.Action("GetUntranslatedSemestersJson", "Cores")',
                url: '@Url.Action("GetSemestersJson", "Cores")',
                dataType: "json",
                async: false,
                success: function (response) {
                    semesters = response;
                }
            });
            //set up Semester drop down code
            //***TBD: Don't show Semesters already in translation***
            for (var key in semesters) {
                //semDDLCode += "<option value='" + semesters[key].SemesterCode + "'>" + semesters[key].SemesterName + "</option>";
                $('#semDDL').append($('<option>', {
                    value: semesters[key].SemesterCode,
                    text: semesters[key].SemesterName
                }));
            }

            //Set up Course drop down
            $.ajax({
                type: "GET",
                //url: '@Url.Action("GetUntranslatedCoursesJson", "Cores")',
                url: '@Url.Action("GetCoursesJson", "Cores")',
                dataType: "json",
                async: false,
                success: function (response) {
                    courses = response;
                }
            });


            //set up Course drop down code filtered on selected Seminar
            $("#semDDL").change(function () {
                $('#corsDDL').empty(); //remove previous set of options
                populateTranslationRows();
            });

            //page load only
            $("#semDDL").change();

            //Set up Language drop down
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetLanguagesJson", "Admin")',
                dataType: "json",
                async: false,
                success: function (response) {
                    languages = response;
                }
            });
            //set up Language drop down code
            for (var key in languages) {
                $('#langDDL').append($('<option>', {
                    value: languages[key].langID,
                    text: languages[key].LangName
                }));
            }


            function populateTranslationRows() {

                var tHeadRow = $("#tblMain THEAD TR")[0];
                var tBody = $("#tblMain TBODY")[0];

                //Remove any existing TBody rows
                $(tBody).empty();

                if ($('input[name=fullSem]:checked').val() == 'full') {
                    $('#semExamOpts').show();
                    //Populate THEAD TDs
                    $(tHeadRow).find("TH").eq(0).html("Translate Semester");
                    $(tHeadRow).find("TH").eq(1).html("Select");

                    //Create tBody row for the selected Semester and check the box
                    var row = tBody.insertRow(0);
                    cell = $(row.insertCell(-1));
                    cell.html($('#semDDL option').filter(':selected').text());
                    cell = $(row.insertCell(-1));
                    cell.html("<div style='text-align: center'><input type=checkbox checked id=" + $('#semDDL option').filter(':selected').val() + " disabled></div>");

                }
                else { //'partial'
                    $('#semExamOpts').hide();
                    //Populate THEAD TDs
                    $(tHeadRow).find("TH").eq(0).html("Translate one or more <br>Courses");
                    $(tHeadRow).find("TH").eq(1).html("Select<br><input type=checkbox onclick='checkAll();'>");

                    //Create tBody rows for the selected Semester's courses with unchecked the boxes
                    for (var key in courses) {
                        //Populate courses for selected semester
                        //***TBD: Don't show courses already in translation***
                        if (courses[key].SemesterCode == $('#semDDL').val()) {
                            var row = tBody.insertRow(0);
                            cell = $(row.insertCell(-1));
                            cell.html(courses[key].CourseName);
                            cell = $(row.insertCell(-1));
                            cell.html("<div style='text-align: center'><input type=checkbox id=" + courses[key].CourseCoreID + "></div>");
                        }
                    }
                }
                $('#tblMain').show();
            }

            $("body").on("click", "#GenTranSteps", function () {

                var goAjax = true;
                var tBodyRow = $("#tblMain TBODY TR")[0];
                semVal = $(tBodyRow).find('input:checkbox')[0].id;

                //set up JSON send data
                const transSem = new Object();
                var gExams = 0;
                if ($('#semExams').is(':checked')) { gExams = 1 }
                transSem.GenExams = parseInt(gExams);
                transSem.SemesterCode = semVal;
                transSem.CourseCodes = "";
                transSem.LangID = parseInt($("#langDDL").val());

                //TBD Need an IF for Semester Exams Only
                if ($('input[name=fullSem]:checked').val() == 'full') {
                    if (semVal.length == 0) {
                        alert("Please select items to translate before continuing.");
                    }
                }

                else { //'partial'
                    var courseList = "";
                    $("#tblMain TBODY TR").each(function () {
                        var cb = $(this).find('input:checkbox:checked');
                        if (cb.length == 1) {
                            courseList += cb[0].id + ",";
                        }
                    });
                    //remove trailing comma
                    courseList = courseList.substring(0, courseList.length - 1);

                    if (courseList.length == 0) {
                        goAjax  = false;
                        alert("Please select items to translate before continuing.");
                    }
                    else {
                        transSem.GenExams = parseInt(0);
                        transSem.CourseCodes = courseList;
                    }
                }

                if (goAjax) {
                    //alert(JSON.stringify(transSem));
                    //Get gen'd session translation records
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("trxSemester","Workflow")',
                        data: JSON.stringify(transSem),
                        dataType: 'JSON',
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (txSessions) {
                            alert(JSON.stringify(txSessions))
                            alert(transSessions.length + " " + pageObjectLabel + "(s) inserted.");
                        }
                    });
                }

            });

        });

        </script>

</body>
</html>
