@model IEnumerable<GlobalTeamNetwork.Models.SemesterCoreCName>

@{
    ViewData["Title"] = "SemesterCores";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Semester Cores</title>
</head>
<body>
    <h1>Semester Cores</h1>

    @*Filtering*@
    <table>
        <tr>
            <td nowrap>
                filtered&nbsp;for&nbsp;Curriculum&nbsp;<select id="currFilter" style="width:300px;">
                    <option value="??">All</option>
                </select>&nbsp;&nbsp;&nbsp;<a id="showAllRows" href="javascript:void(0)">Show All</a>

            </td>
        </tr>
    </table><br>

    <p>
        <a id="createNew" href="javascript:void(0)">Add New Semester Core</a>
        <!--     <button id="createNew">Add Semester Core</button> -->
    </p>
    @*<table id="tblMain" class="table">*@
    <table id="tblMain" class="table table-bordered table-hover table-striped">
            <thead>
                <!-- Top Labels-->
                <tr>
                    <th class="columnSort">
                        @Html.DisplayNameFor(model => model.SemesterCode)&nbsp;<span class="nobreak sortArrow">&#8593;&#8595;</span>
                    </th>
                    <th class="columnSort">
                        @Html.DisplayNameFor(model => model.SemesterName)&nbsp;<span class="nobreak sortArrow">&#8593;&#8595;</span>
                    </th>
                    <th class="columnSort">
                        @Html.DisplayNameFor(model => model.CurriculumName)&nbsp;<span class="nobreak sortArrow">&#8593;&#8595;</span>
                    </th>
                    <th class="columnSort">
                        @Html.DisplayNameFor(model => model.NumberOfVideoSessions)&nbsp;<span class="nobreak sortArrow">&#8593;&#8595;</span>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@(" tr" + @item.SemesterCode)">
                        <td class="semesterCode">
                            @Html.DisplayFor(modelItem => item.SemesterCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SemesterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurriculumName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfVideoSessions)
                        </td>
                        <td>
                            <a onclick="editItem('@item.SemesterCode', this)" href="javascript:void(0)" id="@item.SemesterCode">Edit</a> |
                            <a asp-controller="Cores" asp-action="SemesterCoreDetail" asp-route-id="@item.SemesterCode">Details</a> |
                            <a onclick="deleteItem('@item.SemesterCode', this)" href="javascript:void(0)" id="@item.SemesterCode">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot hidden>
                <!-- Bottom Labels-->
                <tr class="bottomLabels">
                    <th>
                        @Html.DisplayNameFor(model => model.SemesterCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SemesterName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurriculumName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfVideoSessions)
                    </th>
                    <th>Actions</th>
                </tr>

                @*input controls for adding a new item*@
                <tr>
                    <td><input type="text" id="txtSemesterCode" class="semInputClass" /></td>
                    <td><input type="text" id="txtSemesterName" class="semInputClass" /></td>
                    <td id="currDDL"><input type="text" id="txtCurriculumID" class="semInputClass" /></td>
                    <td><input type="text" id="txtNumberOfVideoSessions" class="semInputClass" /></td>
                    <td id="tdBtnCell"><input type="button" id="btnAdd" value="Add" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="btnCancel" value="Cancel" /></td>
                </tr>
                <tr id="trSaveAll">
                    <td>
                        <input type="button" disabled id="btnSave" value="Save All" />&nbsp;&nbsp;&nbsp;
                        <input type="button" id="btnCancel" value="Cancel" />
                    </td>
                    <td colspan="100%"></td>
                </tr>
            </tfoot>
        </table>
        <p>
            <a id="createNew2" href="javascript:void(0)">Add New Semester Core</a>
            <!--     <button id="createNew">Add Semester Core</button> -->
        </p>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

        <script type="text/javascript">

    //NOTE: common js functions are found in wwwroot/js/ViewCommon.js

    //scope functions declared inside of document.ready
    var editItem;
    var deleteItem;

    $(document).ready(function () {

        //pFilter is passed to the page via query string for page refresh, etc.
        var pFilter = (new URL(location.href)).searchParams.get('filter');

        //note: sorting code is in ViewCommon.js

        $("#showAllRows").click(function () {
            //Set filter to 'All'
            $('#semFilter').prop('selectedIndex', 0).change();
        });


        //Get the curriculum from the db via ajax
        var curriculum;
        var curriculumTextArray = ['0th item'];
        var delayMils = 900;
        var pageObjectLabel = 'SemesterCore';

        //see if the candidate semester code already exists
        function semesterCodeExists(testCode) {
            var codeMatch = $("td.semesterCode").filter(function () {
                return $(this).html().trim().toUpperCase() == testCode.toUpperCase();
            });

            if (codeMatch.length > 0)
            { return true;}
            else
            {
                return false;
            }
        }

        //Set up curriculum add drop down
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCurriculumJson","Cores")',
            dataType: "json",
            async: false,
            success: function (response) {
                curriculum = response;
            }
        });

        //set up curriculum ddlCode and filter values
        var ddlCode = '<select id = "curriculumDDL" name = "curriculumDDL"> '
        ddlCode += "<option value='??'>None Selected</option>";
        for (var key in curriculum) {
            ddlCode += "<option value='" + curriculum[key].CurriculumID + "'>" + curriculum[key].CurriculumName + "</option>";
            $('#currFilter').append($('<option>', {
                value: curriculum[key].CurriculumID,
                text: curriculum[key].CurriculumName
            }));
        }
        ddlCode += '</select >';

        $('#currFilter').change(function () {
            var curriculumFilter = this.options[this.selectedIndex].text;
            if (curriculumFilter != "All") {
                $("#tblMain td:nth-child(3):contains('" + curriculumFilter + "')").parent().show();
                $("#tblMain td:nth-child(3):not(:contains('" + curriculumFilter + "'))").parent().hide();
            }
            else {
                //show all rows
                $("#tblMain tr").show();
            }
            $("#tblMain TFOOT").attr("hidden", true);

        })

        function refreshMe() {


            //Refresh the page with filter, sort preserved
            var url = '@Url.Action("SemesterCores", "Cores")' + "?filter=" + $('#currFilter option').filter(':selected').val() + getCurrentSort();
            window.location.href = url;
        }


        $("body").on("click", "#btnCancel", function () {
            //Refresh the page
            refreshMe();
        });

        //See if all input values are blank
        function allBlank() {
            var allAreBlank =
                (
                    $("#txtSemesterCode").val().length == 0 &&
                    $("#txtSemesterName").val().length == 0 &&
                    $('#currDDL option:selected').val() == '??' &&
                    $("#txtNumberOfVideoSessions").val().length == 0
                    // && $("#txtNotes").val().length == 0
                );
            return allAreBlank;
        }

        //validate input and set inputValid global boolean
        function validateInput() {

            //default to true
            inputValid = true;

            if (!allBlank()) {
                //Validate input
                if (//inp01.val().length == 0 || //don't use if IDENTITY Column
                    $("#txtSemesterCode").val().length == 0 ||
                    $("#txtSemesterName").val().length == 0 ||
                    $('#currDDL option:selected').val() == '??' ||
                    $("#txtNumberOfVideoSessions").val().length == 0) {
                    inputValid = false;
                    alert("Please enter all " + pageObjectLabel + " data before proceeding.");
                }
                else if (!digitsOnly($("#txtNumberOfVideoSessions").val())) {
                    inputValid = false;
                    alert("The Number of Video Sesssions must be number. Please correct this before proceeding.");
                }
                //check for unique semester code unless in Edit mode
                else if ($('#btnSaveEdit:visible').length == 0 ) {
                    if (semesterCodeExists($("#txtSemesterCode").val())) {
                        inputValid = false;
                        alert(pageObjectLabel + " Semester Codes must be unique. Please correct this before proceeding.");
                       }
                }
            }
        }

        $("[id^=createNew]").click(function () {
            //Set up add button
            changeSaveButton(buttonType.ADD, 0);

            //Default Course drop down to current filter value
            var currReplVal = "<option value='" + $('#currFilter').val() + "'>";
            var currReplValOpt = currReplVal.replace('option value=', 'option selected value=');
            var currDDLCodeOpt = ddlCode.replace(currReplVal, currReplValOpt);
            //alert(courseDDLCodeOpt);
            $("#currDDL").html(currDDLCodeOpt);

            //show footer
            //$('txtCourseCoreID').prop('disabled', false);
            $("#tblMain tfoot>tr").show();
            $("#tblMain TFOOT").attr("hidden", false);
            //scroll to bottom
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);

            //Set up add button
            //changeSaveButton(buttonType.ADD, 0);

        });

        // Add another item
        $("body").on("click", "#btnAdd", function () {


            validateInput();
            if (inputValid) {

                //Reference the input controls
                var txt01 = $("#txtSemesterCode");
                var txt02 = $("#txtSemesterName");
                //var txt03 = $("#txtCurriculumID");
                var selCurr = $("#curriculumDDL");
                var curriculumText = $('#curriculumDDL option:selected').text();
                var txt04 = $("#txtNumberOfVideoSessions");

                //Get the reference of the Table's TFOOT element.
                var tFoot = $("#tblMain > TFOOT")[0];

                //Add Row.
                var row = tFoot.insertRow(0);

                //Add txtSemesterCode cell.
                cell = $(row.insertCell(-1));
                cell.html(txt01.val());

                //Add txtSemesterName cell.
                cell = $(row.insertCell(-1));
                cell.html(txt02.val());

                //Add currDDL cell.
                cell = $(row.insertCell(-1));
                cell.html(curriculumText);

                //Add txtNumberOfVideoSessions cell.
                cell = $(row.insertCell(-1));
                cell.html(txt04.val());

                //Add Button cell.
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input />");
                btnRemove.attr("type", "button");
                btnRemove.attr("onclick", "removeRow(this);");
                btnRemove.val("Remove");
                cell.append(btnRemove);

                //Clear the input control values
                txt01.val("");
                txt02.val("");
                //$("#curriculumDDL").val("1").change();
                txt04.val("");

                //now there is something to save
                $("#btnSave").prop('disabled', false);
            }
        });

        //If new Semester data complete enable save button
        $("body").on("blur", ".semInputClass", function () {
            if (
                $('#txtSemesterCode').val().length > 0 &&
                $('#txtSemesterName').val().length > 0 &&
                $('#txtNumberOfVideoSessions').val().length > 0
            ) {
                $("#btnSave").prop('disabled', false);
            }
        });

        $("body").on("input", ".semInputClass", function () {
            if (
                $('#txtSemesterCode').val().length > 0 &&
                $('#txtSemesterName').val().length > 0 &&
                $('#txtNumberOfVideoSessions').val().length > 0
                ) {
                    $("#btnSave").prop('disabled', false);
                }
        });


        //Save all added rows
        $("body").on("click", "#btnSave", function () {

            //Validate any unsaved input. Click returns false if entered data is invalid. validateInput sets inputValid boolean
            validateInput();

            if (inputValid) {

                //Loop through the Table rows and build a JSON array.
                var semesters = new Array();

                $("#tblMain TFOOT TR").each(function () {

                    var row = $(this);
                    var semCore = {};

                    //Skip the bottomLabels row
                    if (!row.hasClass("bottomLabels")) {

                        //push new rows to the add list
                        if (row.find('td:last-child').html().includes('value="Add Another"')) {
                            if (!allBlank()) {
                                // get values of the candidate object
                                semCore.SemesterCode = row.find("input").eq(0).val();
                                semCore.SemesterName = row.find("input").eq(1).val();
                                semCore.CurriculumId = parseInt($('#currDDL option').filter(':selected').val());
                                semCore.NumberOfVideoSessions = parseInt(row.find("input").eq(2).val());
                                semesters.push(semCore);
                            }
                        }
                        if (row.find('td:last-child').html().includes('value="Remove"')) {
                            //These rows already validated
                            semCore.SemesterCode = row.find("TD").eq(0).html();
                            semCore.SemesterName = row.find("TD").eq(1).html();
                            semCore.CurriculumId = parseInt(curriculum.find(curr => curr.CurriculumName === decodeHtml(row.find("TD").eq(2).html())).CurriculumID);
                            semCore.NumberOfVideoSessions = parseInt(row.find("TD").eq(3).html());
                            semesters.push(semCore);
                        }
                    }
                });

                alert(JSON.stringify(semesters));

                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("InsertSemesters","Cores")',
                    data: JSON.stringify(semesters),
                    dataType: 'JSON',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (r) {
                        alert(r + " " + pageObjectLabel + "(s) inserted.");
                    }
                });

                //Give the db a minute to recognize the new records
                waitSeconds(delayMils);

                //Refresh the page
                refreshMe();
            }
        });

        //Delete item via AJAX
        deleteItem = function (itemId, button) {

            //Determine the reference of the calling Row
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(1).html().trim();

            if (confirm("Do you want to delete Semester: " + name + " ?")) {
                //Get the reference of the Table.
                var table = $("#tblMain")[0];
                var itemArray = new Array;
                itemArray[0] = itemId;

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("deleteSemesters","Cores")',
                    data: JSON.stringify(itemArray),
                    dataType: 'JSON',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (r) {
                        alert(r + " " + pageObjectLabel + "(s) have been deleted.");
                    }
                });

                //Give the db a minute to recognize the new records
                waitSeconds(delayMils);
                //Refresh the page
                refreshMe();
            }
        }

        //Edit an org
        //function editItem(itemId, button) {
        editItem = function (itemId, button) {

            var editRow = $(button).closest("TR");
            var selectedVal;
 
            //Set up Save Changes button
            changeSaveButton(buttonType.SAVECHANGES, itemId);

            //Hide edit row
            editRow.hide();

            var currReplVal = "<option value='" + curriculum.find(curr => curr.CurriculumName === editRow.find("TD").eq(2).html().trim()).CurriculumID + "'>";
            var currReplValOpt = currReplVal.replace('option value=', 'option selected value=');
            var currDdlCodeOpt = ddlCode.replace(currReplVal, currReplValOpt);
            $("#currDDL").html(currDdlCodeOpt);

            //selectedVal = editRow.find("TD").eq(2).html().trim();

            //Copy current values to the edit controls
            $('#txtSemesterCode').val(editRow.find("TD").eq(0).html().trim());
            $('#txtSemesterCode').prop('disabled', true);
            $('#txtSemesterName').val(editRow.find("TD").eq(1).html().trim());
            $('#txtNumberOfVideoSessions').val(editRow.find("TD").eq(3).html().trim()); curriculum

            //Hide Save ALL button row, show footer
            $("#trSaveAll").attr("hidden", true);
            $("#tblMain tfoot>tr").show();
            $("#tblMain TFOOT").attr("hidden", false);

            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        }


        //Save edits via ajax
        $("body").on("click", "#btnSaveEdit", function () {

            //var row = $("#tblMain TFOOT TR:first");
            var row = $("#btnSaveEdit").closest("TR");
            var semCore = {};
            validateInput();

            if (inputValid) {

                // get values of the candidate object
                semCore.SemesterCode = row.find("input").eq(0).val();
                semCore.SemesterName = row.find("input").eq(1).val();
                semCore.CurriculumId = parseInt($('#currDDL option').filter(':selected').val());
                semCore.NumberOfVideoSessions = parseInt(row.find("input").eq(2).val());

                alert(JSON.stringify(semCore));

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateSemester","Cores")',
                    data: JSON.stringify(semCore),
                    dataType: 'JSON',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (r) {
                        alert(r + " SemesterCore(s) have been modified.");
                    }
                });

                //Give the db a minute to recognize the new records
                waitSeconds(delayMils);
                //Refresh the page
                refreshMe();
            }
        });



    /*end document.ready*/
    });

        </script>

</body>
</html>
