@model IEnumerable<GlobalTeamNetwork.Models.SemesterCoreCName>

@{
    ViewData["Title"] = "SemesterCores";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Semester Cores</title>
</head>
<body>
    <h1>Semester Cores</h1>

    <p>
        <a id="createNew" href="javascript:void(0)">Add New Semester Core</a>
        <!--     <button id="createNew">Add Semester Core</button> -->
    </p>
    <table id="tblMain" class="table">
        <thead>
            <!-- Top Labels-->
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SemesterCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SemesterName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurriculumName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfVideoSessions)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@(" tr" + @item.SemesterCode)">
                    <td>
                        @Html.DisplayFor(modelItem => item.SemesterCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SemesterName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurriculumName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfVideoSessions)
                    </td>
                    <td>
                        <a onclick="editItem('@item.SemesterCode', this)" href="javascript:void(0)" id="@item.SemesterCode">Edit</a> |
                        <a asp-controller="Cores" asp-action="SemesterCoreDetail" asp-route-id="@item.SemesterCode">Details</a> |
                        <a onclick="deleteItem('@item.SemesterCode', this)" href="javascript:void(0)" id="@item.SemesterCode">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot hidden>
            @*input controls for adding a new item*@
            <tr>
                <td><input type="text" id="txtSemesterCode" /></td>
                <td><input type="text" id="txtSemesterName" /></td>
                <td id="currDDL"><input type="text" id="txtCurriculumID" /></td>
                <td><input type="text" id="txtNumberOfVideoSessions" /></td>
                <td id="tdBtnCell"><input type="button" id="btnAdd" value="Add" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="btnCancel" value="Cancel" /></td>
            </tr>
            <tr id="trSaveAll">
                <td>
                    <input type="button" disabled id="btnSave" value="Save All" />&nbsp;&nbsp;&nbsp;
                    <input type="button" id="btnCancel" value="Cancel" />
                </td>
                <td colspan="100%"></td>
            </tr>
        </tfoot>
        <!-- Bottom Labels-->
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SemesterCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemesterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurriculumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfVideoSessions)
            </th>
            <th></th>
        </tr>
        <tr><td colspan="100%"></td></tr>
    </table>
    <p>
        <a id="createNew2" href="javascript:void(0)">Add New Semester Core</a>
        <!--     <button id="createNew">Add Semester Core</button> -->
    </p>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">

        //Get the curriculum from the db via ajax
        var curriculum;
        var curriculumTextArray = ['0th item'];
        var delayMils = 900;

        const buttonType = {
            SAVECHANGES: 0,
            ADD: 1
        }

        function waitSeconds(iMilliSeconds) {
            var counter = 0
                , start = new Date().getTime()
                , end = 0;
            while (counter < iMilliSeconds) {
                end = new Date().getTime();
                counter = end - start;
            }
        }

        function digitsOnly(checkStr) {
            const reg = new RegExp('^[0-9]+$');
            if (reg.test(checkStr)) {
                return true;
            }
            else {
                return false;
            }
        }

        function removeRow(evt) {
            $(evt).parent().parent().remove();
        }

        //Set up curriculum add drop down
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCurriculumJson","Cores")',
            dataType: "json",
            async: false,
            success: function (response) {
                curriculum = response;
            }
        });
        var ddlCode =
            '<select id = "curriculumDDL" name = "curriculumDDL"> '
            for (i = 0; i < curriculum.length; i++) {
                ddlCode += '<option value=' + curriculum[i].CurriculumID + '>' + curriculum[i].CurriculumName + '</option >';
                curriculumTextArray.push(curriculum[i].CurriculumName);
            }
            ddlCode += '</select >';


        $("body").on("click", "#btnCancel", function () {
            //Refresh the page
            var url = '@Url.Action("SemesterCores", "Cores")';
            window.location.href = url;
        });

        $("[id^=createNew]").click(function () {
            //Set up add button
            changeSaveButton(buttonType.ADD, 0);

            $("#currDDL").html(ddlCode);

            //show footer
            $("#tblMain TFOOT").attr("hidden", false);
            //scroll to bottom
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        });

        //switch the button html
        function changeSaveButton(changeTo, selCurr ) {
            //Replace action button
            var cancelButton = "<input type=\"button\" id=\"btnCancel\" value=\"Cancel\" />";
            var saveButton = "<input type=\"button\" data-id=\"" + selCurr + "\" id=\"btnSaveEdit\" value=\"Save Changes\" />";
            var addButton = "<input type=\"button\" id=\"btnAdd\" value=\"Add Another\" />";
            var template = "~~0~~&nbsp;&nbsp;&nbsp;&nbsp;"
            var btnHtml;
            switch (changeTo) {
                case buttonType.ADD:
                    btnHtml = template.replace('~~0~~', addButton);
                    break;
                case buttonType.SAVECHANGES:
                    btnHtml = template.replace('~~0~~', saveButton) + cancelButton;
                    break;
            }
            $('#tdBtnCell').html(btnHtml);
        }

        // Add another item
        $("body").on("click", "#btnAdd", function () {
            //Reference the Name and Country TextBoxes.
            var txt01 = $("#txtSemesterCode");
            var txt02 = $("#txtSemesterName");
            //var txt03 = $("#txtCurriculumID");
            var selCurr = $("#curriculumDDL");
            var curriculumText = $('#curriculumDDL option:selected').text();
            var txt04 = $("#txtNumberOfVideoSessions");

            if (txt01.val().length == 0 ||
                txt02.val().length == 0 ||
                //txt03.val().length == 0 ||
                txt04.val().length == 0) {
                alert("Please enter all data before proceeding.");
            }
            else if (!digitsOnly(txt04.val())) {
                alert("The Number Of Video Sessions must be number. Please correct this before proceeding.");
            }
            else {
                //Get the reference of the Table's TFOOT element.
                var tFoot = $("#tblMain > TFOOT")[0];

                //Add Row.
                var row = tFoot.insertRow(0);

                //Add txtSemesterCode cell.
                var cell = $(row.insertCell(-1));
                cell.html(txt01.val());

                //Add txtSemesterName cell.
                cell = $(row.insertCell(-1));
                cell.html(txt02.val());

                //Add txtCurriculumName cell.
                cell = $(row.insertCell(-1));
                cell.html(curriculumText);

                //Add txtNumberOfVideoSessions cell.
                cell = $(row.insertCell(-1));
                cell.html(txt04.val());

                //Add Button cell.
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input />");
                btnRemove.attr("type", "button");
                btnRemove.attr("onclick", "removeRow(this);");
                btnRemove.val("Remove");
                cell.append(btnRemove);

                //Clear the input control values
                txt01.val("");
                txt02.val("");
                $("#curriculumDDL").val("1").change();
                txt04.val("");

                //now there is something to save
                $("#btnSave").prop('disabled', false);
            }
        });

        //Save all added rows
        $("body").on("click", "#btnSave", function () {

            //Loop through the Table rows and build a JSON array.
            var semesters = new Array();
            var exitNow = false;

            $("#tblMain TFOOT TR").each(function () {
                var row = $(this);
                var semCore = {};
                exitNow = false;

                //alert(row.html());

                //push new rows to the add list
                if (row.find('td:last-child').html().includes('value="Remove"')) {
                    //These rows already validated
                    semCore.SemesterCode= row.find("TD").eq(0).html();
                    semCore.SemesterName = row.find("TD").eq(1).html();
                    //semCore.curriculumName = row.find("TD").eq(2).html();
                    semCore.CurriculumId = parseInt(curriculumTextArray.indexOf(row.find("TD").eq(2).html()));

                    alert(semCore.CurriculumId);

                    semCore.NumberOfVideoSessions = parseInt(row.find("TD").eq(3).html());
                    semesters.push(semCore);
                }
                //Row Added but not saved
                if (row.find('td:last-child').html().includes('value="Add Another"')) {

                    // get values of the candidate object
                    semCore.SemesterCode = row.find("input").eq(0).val();
                    semCore.SemesterName = row.find("input").eq(1).val();
                    semCore.CurriculumId = parseInt(curriculumTextArray.indexOf(row.find("select option:selected").text()));
                    nvsString = row.find("input").eq(2).val();

                    //if all blank, ingore it
                    if (semCore.SemesterCode.length > 0 ||
                        semCore.SemesterName.length > 0 ||
                        nvsString.length > 0) {
                        //if some blanks fix it
                        if (semCore.SemesterCode.length == 0 ||
                            semCore.SemesterName.length == 0 ||
                            nvsString.length == 0) {
                            alert('Please populate all fields before saving data.');
                            exitNow = true;
                        }
                        //validate nvs
                        else if (!digitsOnly(nvsString)) {
                            alert("The Number Of Video Sessions must be number. Please correct this before proceeding.");
                            exitNow = true;
                        }
                        //all is good, push it
                        else {
                            semCore.NumberOfVideoSessions = parseInt(nvsString);
                            semesters.push(semCore);
                        }
                    }
                }
            });

            if (exitNow) { return; }

            alert('entering Ajax');

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: '@Url.Action("InsertSemesters","Cores")',
                data: JSON.stringify(semesters),
                dataType: 'JSON',
                cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (r) {
                //alert(r + " record(s) inserted.");
                }
            });

            //Give the db a minute to recognize the new records
            waitSeconds(delayMils);

            //Refresh the page
            var url = '@Url.Action("SemesterCores", "Cores")';
            window.location.href = url;
        });

        //Delete item via AJAX
        function deleteItem(itemId, button) {

            //Determine the reference of the calling Row
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(1).html();

            //remove weird trailing chars
            //nameTrim = name.substring(0, name.length + 3)+ " ?";

            if (confirm("Do you want to delete: " + name)) {
                //Get the reference of the Table.
                var table = $("#tblMain")[0];
                var itemArray = new Array;
                itemArray[0] = itemId;

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("deleteSemesters","Cores")',
                    data: JSON.stringify(itemArray),
                    dataType: 'JSON',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (r) {
                        alert(r + " record(s) have been deleted.");
                    }
                });

                //Give the db a minute to recognize the new records
                waitSeconds(delayMils);
                //Refresh the page
                var url = '@Url.Action("SemesterCores", "Cores")';
                window.location.href = url;
            }
        }

        //Edit an org
        function editItem(itemId, button) {

            var editRow = $(button).closest("TR");
            var selectedVal;

            //Set up Save Changes button
            changeSaveButton(buttonType.SAVECHANGES, itemId);

            //Hide edit row
            editRow.hide();

            //set up the curriculum ddl
            $("#currDDL").html(ddlCode);

            selectedVal = editRow.find("TD").eq(2).html().trim();

            //Copy current values to the edit controls
            $('#txtSemesterCode').val(editRow.find("TD").eq(0).html().trim());
            $('#txtSemesterName').val(editRow.find("TD").eq(1).html().trim());
            $("#curriculumDDL").val(curriculumTextArray.indexOf(selectedVal)).change();
            $('#txtNumberOfVideoSessions').val(editRow.find("TD").eq(3).html().trim()); curriculum

            //Show footer
            $("#trSaveAll").attr("hidden", true);
            //$("#btnCancel").attr("hidden", false);

            $("#tblMain TFOOT").attr("hidden", false);
            //scroll to bottom
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        }

        //Save edits to an Org via ajax
        $("body").on("click", "#btnSaveEdit", function () {
            //alert($("#btnSaveEdit").attr("data-id"));
            var row = $("#tblMain TFOOT TR:first");
            var semCore = {};

            // get values of the candidate object
            semCore.SemesterCode = row.find("input").eq(0).val();
            semCore.SemesterName = row.find("input").eq(1).val();
            semCore.CurriculumId = parseInt(curriculumTextArray.indexOf(row.find("select option:selected").text()));

            alert(semCore.CurriculumId);

            nvsString = row.find("input").eq(2).val();

            //if all blank, post 'use Delete' message
            if (semCore.SemesterCode.length > 0 ||
                semCore.SemesterName.length > 0 ||
                nvsString.length > 0) {
                //if some blanks fix it
                if (semCore.SemesterCode.length == 0 ||
                    semCore.SemesterName.length == 0 ||
                    nvsString.length == 0) {
                    alert('Please populate all fields before saving changes.');
                    exitNow = true;
                }
                //validate nvs
                else if (!digitsOnly(nvsString)) {
                    alert("The Number Of Video Sessions must be number. Please correct this before proceeding.");
                    exitNow = true;
                }
            }
            // all were blank
            else {
                alert("Please populate fields or use 'Delete' to remove row.");
                exitNow = true;
            }

            if (!exitNow) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateSemester","Cores")',
                    data: JSON.stringify(semCore),
                    dataType: 'JSON',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (r) {
                        alert(r + " record(s) have been modified.");
                    }
                });

                //Give the db a minute to recognize the new records
                waitSeconds(delayMils);
                //Refresh the page
                var url = '@Url.Action("SemesterCores", "Cores")';
                window.location.href = url;
            }
        });

    </script>
</body>
</html>
