@model IEnumerable<GlobalTeamNetwork.Models.Organization>

@{
    ViewData["Title"] = "Customers";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>

    <p>
        <a id="createNew" href="javascript:void(0)">Add New Customer</a>
        <!--     <button id="createNew">Add New Customer</button> -->
    </p>
    <table id="tblOrgs" class="table">
        <thead>
            <tr>
                <th>
                    Customer
                </th>
                <th>
                    Custom Location
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@("tr" + @item.orgID)">
                    <td id="@("orgName" + @item.orgID)">
                        @Html.DisplayFor(modelItem => item.OrgName)
                    </td>
                    <td id="@("orgLoc" + @item.orgID)">
                        @Html.DisplayFor(modelItem => item.OrgLocation)
                    </td>
                    <td>
                        <a onclick="editOrg(@item.orgID)" href="javascript:void(0)" id="@item.orgID">Edit</a> |
                        <a asp-controller="Org" asp-action="OrgDetail" asp-route-id="@item.orgID">Details</a> |
                        <a onclick="deleteOrg(@item.orgID, this)" href="javascript:void(0)" id="@item.orgID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot hidden>
            <tr>
                <td><input type="text" id="txtOrgName" /></td>
                <td><input type="text" id="txtOrgLocation" /></td>
                <td id="tdBtnCell"><input type="button" id="btnAdd" value="Add" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="btnCancel" value="Cancel" /></td>
            </tr>
            <tr id="trSaveAll">
                <td><input type="button" id="btnSave" value="Save All" /></td><td></td><td></td>
            </tr>
        </tfoot>
    </table>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">

        $("body").on("click", "#btnCancel", function () {
            //Refresh the page
            var url = '@Url.Action("Organizations", "Org")';
            window.location.href = url;
        });

        $("#createNew").click(function () {
            //Set up add button
            changeSaveButton(buttonType.ADD, 0);
            //show footer
            $("#tblOrgs TFOOT").attr("hidden", false);
            //scroll to bottom
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        });

        var delayMils = 900;

        const buttonType = {
            SAVECHANGES: 0,
            ADD: 1
        }

        function changeSaveButton(changeTo, orgId) {
            //Replace action button
            var cancelButton = "<input type=\"button\" id=\"btnCancel\" value=\"Cancel\" />";
            var saveButton = "<input type=\"button\" data-id=\"" + orgId + "\" id=\"btnSaveEdit\" value=\"Save Changes\" />";
            var addButton = "<input type=\"button\" id=\"btnAdd\" value=\"Add Another\" />";
            var template = "~~0~~&nbsp;&nbsp;&nbsp;&nbsp;" + cancelButton;
            var btnHtml;
            switch (changeTo) {
                case buttonType.ADD:
                    btnHtml = template.replace('~~0~~', addButton);
                break;
            case buttonType.SAVECHANGES:
                    btnHtml = template.replace('~~0~~', saveButton);
                break;
            }
            //alert(btnHtml);
            $('#tdBtnCell').html(btnHtml);
        }

        function waitSeconds(iMilliSeconds) {
            var counter = 0
                , start = new Date().getTime()
                , end = 0;
            while (counter < iMilliSeconds) {
                end = new Date().getTime();
                counter = end - start;
            }
        }

        $("body").on("click", "#btnAdd", function () {
            //Reference the Name and Country TextBoxes.
            var txtOrgName = $("#txtOrgName");
            var txtOrgLocation = $("#txtOrgLocation");

            if (txtOrgName.val().length == 0 || txtOrgLocation.val().length == 0) {
                alert("Please enter the new Organization's Name and Location before proceeding.");
            }
            else {
                //Get the reference of the Table's TFOOT element.
                var tFoot = $("#tblOrgs > TFOOT")[0];

                //Add Row.
                var row = tFoot.insertRow(0);

                //Add OrgName cell.
                var cell = $(row.insertCell(-1));
                cell.html(txtOrgName.val());

                //Add OrgLocation cell.
                cell = $(row.insertCell(-1));
                cell.html(txtOrgLocation.val());
                //Add Button cell.
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input />");
                btnRemove.attr("type", "button");
                btnRemove.attr("onclick", "Remove(this);");
                btnRemove.val("Remove");
                cell.append(btnRemove);

                //Clear the TextBoxes.
                txtOrgName.val("");
                txtOrgLocation.val("");
            }
        });

        $("body").on("click", "#btnSave", function () {
            //Loop through the Table rows and build a JSON array.
            var orgs = new Array();

            $("#tblOrgs TFOOT TR").each(function () {
                var row = $(this);
                var org = {};

                if (row.find('td:last-child').html().includes('value="Remove"')) {
                    //alert('Remove row found');
                    org.OrgName = row.find("TD").eq(0).html();
                    org.OrgLocation = row.find("TD").eq(1).html();
                    org.orgID = 0;
                    orgs.push(org);
                }
                if (row.find('td:last-child').html().includes('value="Add"')) {
                    org.OrgName = row.find("input").eq(0).val();
                    org.OrgLocation = row.find("input").eq(1).val()
                    org.orgID = 0;
                    if (org.OrgName.length > 0 && org.OrgLocation.length > 0) {
                        orgs.push(org);
                    }
                }
            });

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: '@Url.Action("InsertOrgs","Org")',
                data: JSON.stringify(orgs),
                dataType: 'JSON',
                cache: false,
                contentType: "application/json; charset=utf-8",
                //headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                success: function (r) {
                    //alert(r + " record(s) inserted.");
                }
            });

            //Give the db a minute to recognize the new records
            waitSeconds(delayMils);

            //Refresh the page
            var url = '@Url.Action("Organizations", "Org")';
            window.location.href = url;
        });

        //Delete an org via AJAX
        function deleteOrg(orgId, button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete: " + name + " ?")) {
                //Get the reference of the Table.
                var table = $("#tblOrgs")[0];
                var orgArray = new Array;
                orgArray[0] = orgId;

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteOrgs","Org")',
                    data: JSON.stringify(orgArray),
                    dataType: 'JSON',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    //headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function (r) {
                        //alert(r + " record(s) have been deleted.");
                    }
                });

                //Give the db a minute to recognize the new records
                waitSeconds(delayMils);
                //Refresh the page
                var url = '@Url.Action("Organizations", "Org")';
                window.location.href = url;
            }
        }

        //Edit an org
        function editOrg(orgId) {
            //Set up Save Changes button
            changeSaveButton(buttonType.SAVECHANGES, orgId);

            //Hide edit row
            $('#tr' + orgId).hide();

            //Copy in existing values
            var orgCellStr = '#orgName' + orgId + ''
            var orgCell = $(orgCellStr);
            $('#txtOrgName').val(orgCell.html().trim());

            var orgCellStr = '#orgLoc' + orgId + ''
            var orgCell = $(orgCellStr);
            $('#txtOrgLocation').val(orgCell.html().trim());

            //Show footer
            $("#trSaveAll").attr("hidden", true);
            //$("#btnCancel").attr("hidden", false);

            $("#tblOrgs TFOOT").attr("hidden", false);
            //scroll to bottom
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        }

        //Save edits to an Org via ajax
        $("body").on("click", "#btnSaveEdit", function () {
            //alert($("#btnSaveEdit").attr("data-id"));
            var row = $("#tblOrgs TFOOT TR:first");
            var org = {};
            org.OrgName = row.find("INPUT").eq(0).val();
            org.OrgLocation = row.find("INPUT").eq(1).val();
            //org.orgID = 0;
            org.orgID = parseInt($("#btnSaveEdit").attr("data-id"));
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateOrg","Org")',
                data: JSON.stringify(org),
                dataType: 'JSON',
                cache: false,
                contentType: "application/json; charset=utf-8",
                //headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                success: function (r) {
                    alert(r + " record(s) have been modified.");
                }
            });

            //Give the db a minute to recognize the new records
            waitSeconds(delayMils);
            //Refresh the page
            var url = '@Url.Action("Organizations", "Org")';
            window.location.href = url;
        });

    </script>
</body>
</html>
